<!--
  Generated template for the TvhomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header hidden>

  <ion-navbar>
    <ion-title>
      {{this.formValue["cantingName"]}} - {{this.formValue["machineName"]}} - {{curMealName}}
    </ion-title>
    <ion-buttons right>
      <button ion-button>
        {{strTimeNowShow}}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bgimg3" padding>
  <ion-row>
    <ion-col text-left col-4>
        <ion-note color="dark" style="font-size:3.5rem;font-family: TitleFont">本窗口提供</ion-note>
      </ion-col>

    <ion-col text-right>
        <ion-note color="dark" style="font-size:2rem;font-family: TitleFont">{{strTimeNowShow}}</ion-note>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="WindowApplyProducts.length==1" text-center>

    <ion-col>
      <p>
        <ion-note color="danger" class="shadow2" style="color:#9b2743;padding:0;margin:0;font-weight: bold;font-size: 5rem;">
          {{WindowApplyProducts[0].name}}</ion-note>
          <ion-badge *ngFor="let prop of WindowApplyProducts[0].lstProp" style="font-size:3rem;margin-right:0.5rem;" [color]="prop=='现点'?'danger':'secondary'">{{prop}}</ion-badge>
      </p>
      <p *ngFor="let pro of WindowApplyProducts[0].prolist" style="margin: 0;">
        <ion-note color="dark" class="shadow2" style="font-weight: bold;font-size: 7rem;">
          {{pro.proname.length>14?pro.proname.substr(0,14):pro.proname}}</ion-note>
      </p>
      <p>
          <img *ngIf="WindowApplyProducts[0].prolist.length==1" 
          src="{{this.common.GetImgUrl(WindowApplyProducts[0].prolist[0].localpath)}}" 
           style="border-radius: 1.8rem" class="shadow" height="{{this.common.GetWindowHeight()/2.5}}">
      </p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="WindowApplyProducts.length==2" >

    <ion-col style="border-right:1px solid gray;padding-left: 3rem;">
      <p text-left>
        <ion-note class="shadow2" style="color:#9b2743;padding:0;margin:0;font-weight: bold;font-size: 5rem;">
          {{WindowApplyProducts[0].name}}</ion-note>
          <ion-badge *ngFor="let prop of WindowApplyProducts[0].lstProp" style="font-size:3rem;margin-right:0.5rem;" [color]="prop=='现点'?'danger':'secondary'">{{prop}}</ion-badge>
      </p>
      <p *ngFor="let pro of WindowApplyProducts[0].prolist" style="margin: 0;" text-left>
        <ion-note color="dark" class="shadow2" style="font-weight: bold;font-size: 5rem;">
          {{pro.proname.length>7?pro.proname.substr(0,7):pro.proname}}</ion-note>
      </p>
      <p text-left>
        <img src="assets/imgs/arrows_left.png" width="28%" />
        <img *ngIf="WindowApplyProducts[0].prolist.length==1 && 
        WindowApplyProducts[1].prolist[0].localpath!=WindowApplyProducts[0].prolist[0].localpath" 
        src="{{this.common.GetImgUrl(WindowApplyProducts[0].prolist[0].localpath)}}" 
        height="{{this.common.GetWindowHeight()/3.6}}" style="border-radius: 1.8rem" class="shadow">
        <img *ngIf="WindowApplyProducts[0].prolist.length==1 && 
        WindowApplyProducts[1].prolist[0].localpath==WindowApplyProducts[0].prolist[0].localpath" 
        src="{{this.common.GetImgUrl(WindowApplyProducts[0].prolist[0].localpath)}}" 
        width="70%" style="border-radius: 1.8rem;margin-left:30%;position:absolute;" class="shadow">
      </p>
    </ion-col>
    
    <ion-col style="padding-right:3rem;" >
      <p text-right>
        <ion-note color="danger" class="shadow2" style="color:#9b2743;padding:0;margin:0;font-weight: bold;font-size: 5rem;">
          {{WindowApplyProducts[1].name}}</ion-note>

          <ion-badge *ngFor="let prop of WindowApplyProducts[1].lstProp" style="font-size:3rem;margin-right:0.5rem;" [color]="prop=='现点'?'danger':'secondary'">{{prop}}</ion-badge>
      </p>
      <p *ngFor="let pro of WindowApplyProducts[1].prolist" style="margin: 0;" text-right>
        <ion-note color="dark" class="shadow2" style="font-weight: bold;font-size: 5rem;">
          {{pro.proname.length>7?pro.proname.substr(0,7):pro.proname}}</ion-note>
      </p>
      <p text-right> 
          <img *ngIf="WindowApplyProducts[1].prolist.length==1 && 
          WindowApplyProducts[1].prolist[0].localpath!=WindowApplyProducts[0].prolist[0].localpath" 
          src="{{this.common.GetImgUrl(WindowApplyProducts[1].prolist[0].localpath)}}" 
          height="{{this.common.GetWindowHeight()/3.6}}" style="border-radius: 1.8rem" class="shadow">
        <img src="assets/imgs/arrows_right.png" width="28%" />
      </p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="WindowApplyProducts.length>2" text-center>
    <ng-container *ngFor="let window of WindowApplyProducts;">
      <ion-col style="border-right:1px solid gray;">
        <p>
          <ion-note color="danger" class="shadow2" style="color:#9b2743;padding:0;margin:0;font-weight: bold;font-size: 5rem;">
            {{window.name}}</ion-note>

          <ion-badge *ngFor="let prop of window.lstProp" style="font-size:3rem;margin-right:0.5rem;" [color]="prop=='现点'?'danger':'secondary'">{{prop}}</ion-badge>
        </p>

        <p *ngFor="let pro of window.prolist" style="margin: 0;">
          <ion-note color="dark" class="shadow2" style="font-weight: bold;font-size: 5rem;">
            {{pro.proname.length>7?pro.proname.substr(0,7):pro.proname}}</ion-note>
        </p>
        <p>
            <img *ngIf="window.prolist.length==1" 
            src="{{this.common.GetImgUrl(window.prolist[0].localpath)}}" 
            width="90%" style="border-radius: 1.8rem" class="shadow">
        </p>
      </ion-col>
    </ng-container>

  </ion-row>

</ion-content>
