page-nomeal {

    .bgimgcoffee{
        background-image:url(../assets/imgs/coffee.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment:fixed;
        background-size: 100% auto;  
      }
}
